app/step-functions-templates/icav2_wes_event_to_wrsc_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Convert ICAv2 WES event to WRSC Event",
  "States": {
    "Convert ICAv2 WES event to WRSC Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__convert_icav2_wes_state_change_event_to_wrsc_event_lambda_function_arn__}",
        "Payload": {
          "icav2WesStateChangeEvent": "{% $states.input %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Workflow status decision tree",
      "Assign": {
        "workflowRunStateChangeEvent": "{% $states.result.Payload.workflowRunStateChangeEvent %}",
        "errorMessageUri": "{% $states.result.Payload.errorMessageUri %}",
        "errorType": "{% $states.result.Payload.errorType %}"
      }
    },
    "Workflow status decision tree": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Add post analysis tags",
          "Condition": "{% $workflowRunStateChangeEvent.status = 'SUCCEEDED' %}",
          "Comment": "Workflow has SUCCEEDED status"
        },
        {
          "Next": "Add comment for WES failure",
          "Condition": "{% $workflowRunStateChangeEvent.status = 'FAILED' %}",
          "Comment": "Workflow has FAILED status"
        }
      ],
      "Default": "Push WRSC Event"
    },
    "Add post analysis tags": {
      "Type": "Parallel",
      "Next": "Push WRSC Event",
      "Branches": [
        {
          "StartAt": "Add post analysis tags (germline)",
          "States": {
            "Add post analysis tags (germline)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "tags": "{% $states.result.Payload.tags %}"
              },
              "Arguments": {
                "FunctionName": "${__add_post_analysis_tags_lambda_function_arn__}",
                "Payload": {
                  "variantCallingOutputUri": "{% $workflowRunStateChangeEvent.payload.data.engineParameters.outputUri & $workflowRunStateChangeEvent.payload.data.outputs.dragenGermlineVariantCallingOutputRelPath %}",
                  "variantCallingSampleName": "{% $workflowRunStateChangeEvent.payload.data.inputs.sampleName %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Has tumor library id",
          "States": {
            "Has tumor library id": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Add post-analysis tags (tumor)",
                  "Condition": "{% $workflowRunStateChangeEvent.payload.data.tags.tumorLibraryId ? true : false %}",
                  "Comment": "Has tumor library id"
                }
              ],
              "Default": "Pass"
            },
            "Pass": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Add post-analysis tags (tumor)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__add_post_analysis_tags_lambda_function_arn__}",
                "Payload": {
                  "variantCallingOutputUri": "{% $workflowRunStateChangeEvent.payload.data.engineParameters.outputUri & $workflowRunStateChangeEvent.payload.data.outputs.dragenSomaticVariantCallingOutputRelPath %}",
                  "variantCallingSampleName": "{% $workflowRunStateChangeEvent.payload.data.inputs.tumorSampleName %}",
                  "isTumor": true
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "tags": "{% $states.result.Payload.tags %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "workflowRunStateChangeEvent": "{% $workflowRunStateChangeEvent ~> \n| $.payload.data.tags | ( [ $states.result.(tags) ] ~> $merge ) | %}"
      },
      "Output": {}
    },
    "Push WRSC Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $workflowRunStateChangeEvent %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    },
    "Add comment for WES failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__add_wes_failure_comment_lambda_function_arn__}",
        "Payload": {
          "errorType": "{% $errorType %}",
          "errorMessageUri": "{% $errorMessageUri %}",
          "portalRunId": "{% $workflowRunStateChangeEvent.portalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Push WRSC Event"
    }
  },
  "QueryLanguage": "JSONata"
}
