app/step-functions-templates/populate_draft_data_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get draft payload var",
  "States": {
    "Get draft payload var": {
      "Type": "Pass",
      "Assign": {
        "detail": "{% $states.input %}",
        "librariesList": "{% $states.input.libraries %}",
        "payload": "{% (\n  $states.input.payload ? \n  $states.input.payload : {\n    \"version\": \"${__default_payload_version__}\"\n  }\n) %}",
        "data": "{% $states.input.payload.data ? $states.input.payload.data : {} %}",
        "engineParameters": "{% $states.input.payload.data.engineParameters ? $states.input.payload.data.engineParameters : {} %}",
        "tags": "{% $states.input.payload.data.tags ? $states.input.payload.data.tags : {} %}",
        "inputs": "{% $states.input.payload.data.inputs ? $states.input.payload.data.inputs : {} %}",
        "rgidList": "{% $states.input.libraries ? ( [ \n    [ $states.input.libraries.(readsets).(rgid) ] ~> \n    $filter(function($v){$v != null}) \n] ) %}"
      },
      "Next": "Validate draft data"
    },
    "Validate draft data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__validate_draft_complete_schema_lambda_function_arn__}",
        "Payload": {
          "data": "{% $data %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": {
        "isValid": "{% $states.result.Payload.isValid %}"
      },
      "Next": "Draft data is valid"
    },
    "Draft data is valid": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Success",
          "Condition": "{% $states.input.isValid %}",
          "Comment": "Is a valid data payload, skip"
        }
      ],
      "Default": "Get Engine parameters"
    },
    "Get Engine parameters": {
      "Type": "Parallel",
      "Next": "Do we have matching libraries",
      "Branches": [
        {
          "StartAt": "Has Project ID",
          "States": {
            "Has Project ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided project id",
                  "Condition": "{% $engineParameters.projectId ? true : false %}",
                  "Comment": "Project ID Provided"
                }
              ],
              "Default": "Get Default Project Id"
            },
            "Use provided project id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "projectId": "{% $engineParameters.projectId %}"
              }
            },
            "Get Default Project Id": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_project_id_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Output": {
                "projectId": "{% $states.result.Parameter.Value %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Has Pipeline ID",
          "States": {
            "Has Pipeline ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided pipeline id",
                  "Condition": "{% ($engineParameters.pipelineId ? $engineParameters.pipelineId : $detail.workflow.executionEnginePipelineId ) ? true : false %}",
                  "Comment": "Pipeline ID Provided"
                }
              ],
              "Default": "Get default pipeline id"
            },
            "Use provided pipeline id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "pipelineId": "{% $engineParameters.pipelineId ? $engineParameters.pipelineId : $detail.workflow.executionEnginePipelineId %}"
              }
            },
            "Get default pipeline id": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__workflow_id_to_pipeline_id_ssm_parameter_path_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "pipelineId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Output URI",
          "States": {
            "Has Output URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided output uri",
                  "Condition": "{% $engineParameters.outputUri ? true : false %}",
                  "Comment": "Output URI Provided"
                }
              ],
              "Default": "Get default output uri prefix"
            },
            "Use provided output uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "outputUri": "{% $engineParameters.outputUri %}"
              }
            },
            "Get default output uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_output_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "outputUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Logs URI",
          "States": {
            "Has Logs URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided logs uri",
                  "Condition": "{% $engineParameters.logsUri ? true : false %}",
                  "Comment": "Logs URI Provided"
                }
              ],
              "Default": "Get default logs uri prefix"
            },
            "Use provided logs uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "logsUri": "{% $engineParameters.logsUri %}"
              }
            },
            "Get default logs uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_logs_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "logsUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "engineParameters": "{% /* https://try.jsonata.org/6nUH8BUBr */\n [ $engineParameters, $merge($states.result) ] ~> $merge %}"
      }
    },
    "Success": {
      "Type": "Succeed"
    },
    "Do we have matching libraries": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Get tags",
          "Condition": "{% /* https://try.jsonata.org/XDJvywd0c */\n/* Compare the draft tags to the libraries */\n/* Get the draft tags */\n(\n    [ \n        $tags.(libraryId),\n        $tags.(tumorLibraryId)\n    ] ~> $sort\n)\n=\n/* Get the draft detail libraries */ \n(\n    [\n        $librariesList.(libraryId)\n    ] ~> $sort \n) %}",
          "Comment": "All libraries in tags"
        }
      ],
      "Default": "Get primitive tags from linked libraries"
    },
    "Get primitive tags from linked libraries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__get_libraries_lambda_function_arn__}",
        "Payload": {
          "libraries": "{% $librariesList %}",
          "rgidList": "{% $rgidList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Get tags",
      "Assign": {
        "tags": "{% $merge(\n  [\n    $states.result.Payload,\n    $tags\n  ]\n) %}"
      }
    },
    "Get tags": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has fastqRgidList",
          "States": {
            "Has fastqRgidList": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set fastq rgid list",
                  "Condition": "{% $tags.fastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from normal libraries"
            },
            "Set fastq rgid list": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "fastqRgidList": "{% $tags.fastqRgidList %}"
              }
            },
            "Get fastq list rgids from normal libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "fastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor library tag (tags)",
          "States": {
            "Has tumor library tag (tags)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Tumor Fastq Rgid list set",
                  "Condition": "{% $tags.tumorLibraryId ? true : false %}",
                  "Comment": "Has tumor library id"
                }
              ],
              "Default": "tumorFastqRgidList is Empty"
            },
            "Tumor Fastq Rgid list set": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set tumor fastq rgid list",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from tumor libraries"
            },
            "Set tumor fastq rgid list": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "tumorFastqRgidList": "{% $tags.tumorFastqRgidList %}"
              }
            },
            "Get fastq list rgids from tumor libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.tumorLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "tumorFastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              }
            },
            "tumorFastqRgidList is Empty": {
              "Type": "Pass",
              "Output": {},
              "End": true
            }
          }
        },
        {
          "StartAt": "Has metadata tags",
          "States": {
            "Has metadata tags": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set metadata tags",
                  "Condition": "{% ( $tags.subjectId ? true : false ) and ( $tags.individualId ? true : false ) %}"
                }
              ],
              "Default": "Get metadata tags"
            },
            "Set metadata tags": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "subjectId": "{% $tags.subjectId %}",
                "individualId": "{% $tags.individualId %}"
              }
            },
            "Get metadata tags": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_metadata_tags_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "subjectId": "{% $states.result.Payload.libraryObj.subject.subjectId %}",
                "individualId": "{% $count($states.result.Payload.libraryObj.subject.individualSet) > 0 ? $states.result.Payload.libraryObj.subject.individualSet[0].individualId : $states.result.Payload.libraryObj.subject.subjectId %}"
              }
            }
          }
        }
      ],
      "Next": "Tags Or Engine Parameters Have Changed",
      "Assign": {
        "tags": "{% /* https://try.jsonata.org/05K2l3beH */\n/* List to merge together */\n[\n    /* Start with the draft tags */\n    $tags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Tags Or Engine Parameters Have Changed": {
      "Type": "Choice",
      "Choices": [
        {
          "Comment": "Tags Have Changed",
          "Next": "Put DRAFT update event",
          "Condition": "{% ( ( $data.tags ? $data.tags : {} ) = $tags ~> $not ) or\n( ( $data.engineParameters ? $data.engineParameters : {} ) = $engineParameters ~> $not ) %}"
        }
      ],
      "Default": "Get libraries with readsets"
    },
    "Get libraries with readsets": {
      "Type": "Parallel",
      "Next": "Get Inputs",
      "Branches": [
        {
          "StartAt": "Library has readsets",
          "States": {
            "Library has readsets": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep library object as is",
                  "Condition": "{% /* Get readsets for tag */\n( \n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.libraryId\n  }) ~>\n  $lookup(\"readsets\")\n) ? true : false %}"
                }
              ],
              "Default": "For each rgid (readsets)"
            },
            "Keep library object as is": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "library": "{% $librariesList ~>\n$single(function($libraryIter){\n  $libraryIter.libraryId = $tags.libraryId\n}) %}"
              }
            },
            "For each rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.fastqRgidList ? $tags.fastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get readset from rgid id",
                "States": {
                  "Get readset from rgid id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true,
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    }
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.libraryId\n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor library tag (readsets)",
          "States": {
            "Has tumor library tag (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Has tumor fastq ids (readsets)",
                  "Condition": "{% $tags.tumorLibraryId ? true : false %}"
                }
              ],
              "Default": "tumor libraries is empty (readsets)"
            },
            "Has tumor fastq ids (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Tumor Library has readsets",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "tumor libraries is empty (readsets)"
            },
            "Tumor Library has readsets": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep library object as is (tumor)",
                  "Condition": "{% /* Get readsets for tag */\n( \n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.tumorLibraryId\n  }) ~>\n  $lookup(\"readsets\")\n) ? true : false %}"
                }
              ],
              "Default": "For each tumor rgid (readsets)"
            },
            "Keep library object as is (tumor)": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "library": "{% $librariesList ~>\n$single(function($libraryIter){\n  $libraryIter.libraryId = $tags.tumorLibraryId\n}) %}"
              }
            },
            "For each tumor rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.tumorFastqRgidList ? $tags.tumorFastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get tumor library readsets from fastq id list",
                "States": {
                  "Get tumor library readsets from fastq id list": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $librariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.tumorLibraryId \n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            },
            "tumor libraries is empty (readsets)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        }
      ],
      "Assign": {
        "librariesList": "{% [ $states.result.(library) ] %}"
      }
    },
    "Get Inputs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has Sequence Data",
          "States": {
            "Has Sequence Data": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep Original sequence data",
                  "Condition": "{% $inputs.sequenceData ? true : false %}"
                }
              ],
              "Default": "Get fastq ids from rgid list"
            },
            "Keep Original sequence data": {
              "Type": "Pass",
              "End": true,
              "Output": "{% $inputs.sequenceData %}"
            },
            "Get fastq ids from rgid list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "fastqIdList": "{% $states.result.Payload.fastqIdList %}"
              },
              "Arguments": {
                "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Wait for fastq"
            },
            "Wait for fastq": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
              "Arguments": {
                "Entries": [
                  {
                    "Detail": {
                      "taskToken": "{% $states.context.Task.Token %}",
                      "payload": {
                        "fastqIdList": "{% $states.input.fastqIdList %}",
                        "requirements": {
                          "hasQc": true,
                          "hasFingerprint": true,
                          "hasActiveReadSet": true
                        },
                        "forceUnarchiving": true
                      }
                    },
                    "DetailType": "${__fastq_sync_detail_type__}",
                    "EventBusName": "${__event_bus_name__}",
                    "Source": "${__stack_source__}"
                  }
                ]
              },
              "Next": "Get prefix from project id"
            },
            "Get prefix from project id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_project_base_uri_from_project_id_lambda_function_arn__}",
                "Payload": {
                  "projectId": "{% $engineParameters.projectId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Get fastq list rows from rgid list",
              "Output": {
                "s3Uri": "{% $states.result.Payload.s3Uri %}"
              }
            },
            "Get fastq list rows from rgid list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_list_rows_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}",
                  "s3UriPrefix": "{% $states.input.s3Uri %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "fastqListRows": "{% $states.result.Payload.fastqListRows %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor rgid list (get tumor rgid list)",
          "States": {
            "Has tumor rgid list (get tumor rgid list)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Has tumor sequence data",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "tumorFastqListRowsIsEmpty"
            },
            "Has tumor sequence data": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep Original tumor sequence data",
                  "Condition": "{% $inputs.tumorSequenceData ? true : false %}",
                  "Comment": "Has tumor sequence data inputs"
                }
              ],
              "Default": "Get tumor ids from rgid list"
            },
            "Keep Original tumor sequence data": {
              "Type": "Pass",
              "End": true,
              "Output": "{% $inputs.tumorSequenceData %}"
            },
            "Get tumor ids from rgid list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "fastqIdList": "{% $states.result.Payload.fastqIdList %}"
              },
              "Arguments": {
                "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.tumorFastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Wait for tumor fastqs"
            },
            "Wait for tumor fastqs": {
              "Type": "Task",
              "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
              "Arguments": {
                "Entries": [
                  {
                    "Detail": {
                      "taskToken": "{% $states.context.Task.Token %}",
                      "payload": {
                        "fastqIdList": "{% $states.input.fastqIdList %}",
                        "requirements": {
                          "hasQc": true,
                          "hasFingerprint": true,
                          "hasActiveReadSet": true
                        },
                        "forceUnarchiving": true
                      }
                    },
                    "DetailType": "${__fastq_sync_detail_type__}",
                    "EventBusName": "${__event_bus_name__}",
                    "Source": "${__stack_source__}"
                  }
                ]
              },
              "Next": "Get prefix from project id (tumor)"
            },
            "Get prefix from project id (tumor)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "s3Uri": "{% $states.result.Payload.s3Uri %}"
              },
              "Arguments": {
                "FunctionName": "${__get_project_base_uri_from_project_id_lambda_function_arn__}",
                "Payload": {
                  "projectId": "{% $engineParameters.projectId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Get tumor fastq list rows from rgid list"
            },
            "Get tumor fastq list rows from rgid list": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "fastqListRows": "{% $states.result.Payload.fastqListRows %}"
              },
              "Arguments": {
                "FunctionName": "${__get_fastq_list_rows_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.tumorFastqRgidList %}",
                  "s3UriPrefix": "{% $states.input.s3Uri %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "tumorFastqListRowsIsEmpty": {
              "Type": "Pass",
              "End": true,
              "Output": null
            }
          }
        },
        {
          "StartAt": "Get default input params",
          "States": {
            "Get default input params": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__default_inputs_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Output": "{% $parse($states.result.Parameter.Value) %}",
              "Next": "Has tumor rgid list (filter default inputs)"
            },
            "Has tumor rgid list (filter default inputs)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Pass (no action)",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "Remove somatic defaults"
            },
            "Pass (no action)": {
              "Type": "Pass",
              "End": true
            },
            "Remove somatic defaults": {
              "Type": "Pass",
              "End": true,
              "Output": "{% $states.input ~> $sift(function($v, $k){$k ~> /^somatic/ ? false : true}) %}"
            }
          }
        }
      ],
      "Next": "Add reference data",
      "Assign": {
        "inputs": "{% /* https://try.jsonata.org/ZAkTIin-h */\n[\n  /* Get the default input params */\n  $states.result[2],\n  /* add existing inputs after defaults inputs */\n  $inputs,\n  /* Combine the states results */\n  {\n      \"sequenceData\": $states.result[0],\n      \"tumorSequenceData\": $states.result[1]\n  },\n  /* Add in the required sampleName and tumorSampleName */\n  /* These must match the value of the library id */\n  {\n    \"sampleName\": $tags.libraryId,\n    \"tumorSampleName\": $tags.tumorLibraryId ? $tags.tumorLibraryId : null\n  }\n]\n/* Combine old and new */\n~> $merge\n/* Sift out inputs with null values */\n~> $sift(function($v, $k){ $v != null }) %}"
      }
    },
    "Add reference data": {
      "Type": "Parallel",
      "Next": "Add qc tags",
      "Branches": [
        {
          "StartAt": "Reference Provided",
          "States": {
            "Reference Provided": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided reference",
                  "Condition": "{% $inputs.reference ? true : false %}"
                }
              ],
              "Default": "Get default germline reference"
            },
            "Use provided reference": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "reference": "{% $inputs.reference %}"
              }
            },
            "Get default germline reference": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__default_reference_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "reference": "{% $parse($states.result.Parameter.Value) %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor library id (reference)",
          "States": {
            "Has tumor library id (reference)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Somatic reference provided",
                  "Condition": "{% $tags.tumorLibraryId ? true : false %}",
                  "Comment": "Has tumor library id"
                }
              ],
              "Default": "Somatic reference not required"
            },
            "Somatic reference provided": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided somatic reference",
                  "Condition": "{% $inputs.somaticReference ? true : false %}"
                }
              ],
              "Default": "Get default somatic reference"
            },
            "Use provided somatic reference": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "somaticReference": "{% $inputs.somaticReference %}"
              }
            },
            "Get default somatic reference": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__default_somatic_reference_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "somaticReference": "{% $parse($states.result.Parameter.Value) %}"
              }
            },
            "Somatic reference not required": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Ora reference provided",
          "States": {
            "Ora reference provided": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use ORA reference provided",
                  "Condition": "{% $inputs.oraReference ? true : false %}",
                  "Comment": "ORA Reference Provided"
                }
              ],
              "Default": "Fastqs have ora"
            },
            "Use ORA reference provided": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "oraReference": "{% $inputs.oraReference %}"
              }
            },
            "Fastqs have ora": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Get Default ORA Reference",
                  "Condition": "{% /* https://try.jsonata.org/Un-e-H6Jw */\n/* Get fastq list rows and tumor fastq list rows */\n/* Select only the read uris from each object */\n/* And then convert to a list */\n$append(\n    $inputs.sequenceData.fastqListRows.{\n        \"r1\": $.read1FileUri,\n        \"r2\": $.read2FileUri\n    },\n    $inputs.sequenceData.tumorFastqListRows.{\n        \"r1\": $.read1FileUri,\n        \"r2\": $.read2FileUri\n    }\n).*\n/* Filter to those that endwith \"ora\" */\n~> $map(function($v){\n    $v ~> $contains(/.ora$/) ? 1 : 0\n}) \n/* Use sum to count the number of true values \n/* Return true if so otherwise false */ \n~> $sum > 0 %}",
                  "Comment": "Get default reference"
                }
              ],
              "Default": "No ora reference needed"
            },
            "Get Default ORA Reference": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__default_ora_reference_ssm_parameter_prefix__}/' & '${__default_ora_version__}' %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "oraReference": "{% $states.result.Parameter.Value %}"
              }
            },
            "No ora reference needed": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Assign": {
        "inputs": "{% [\n  /* Start with the draft inputs + sequence data inputs */\n  $inputs, \n  /* Combine the states results */\n  $merge($states.result)\n] \n/* Merge Old and new */\n~> $merge\n/* Sift out inputs with null values */\n~> $sift(function($v, $k){ $v != null }) %}"
      }
    },
    "Add qc tags": {
      "Type": "Parallel",
      "Next": "Put DRAFT update event",
      "Branches": [
        {
          "StartAt": "Get coverage and dup-frac estimates",
          "States": {
            "Get coverage and dup-frac estimates": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_qc_summary_stats_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "preLaunchCoverageEst": "{% $states.result.Payload.coverageSum %}",
                "preLaunchDupFracEst": "{% $states.result.Payload.dupFracAvg %}",
                "preLaunchInsertSizeEst": "{% $states.result.Payload.insertSizeAvg %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor rgid list (qc)",
          "States": {
            "Has tumor rgid list (qc)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Get tumor coverage and dup-frac estimates",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "No tumor rgid list (qc)"
            },
            "Get tumor coverage and dup-frac estimates": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "tumorPreLaunchCoverageEst": "{% $states.result.Payload.coverageSum %}",
                "tumorPreLaunchDupFracEst": "{% $states.result.Payload.dupFracAvg %}",
                "tumorPreLaunchInsertSizeEst": "{% $states.result.Payload.insertSizeAvg %}"
              },
              "Arguments": {
                "FunctionName": "${__get_qc_summary_stats_from_rgid_list_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.tumorFastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "No tumor rgid list (qc)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "check ntsm passing",
          "States": {
            "check ntsm passing": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__check_ntsm_internal_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException",
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "ntsmInternalPassing": "{% $states.result.Payload.related %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor rgid list (ntsm internal)",
          "States": {
            "Has tumor rgid list (ntsm internal)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "check tumor ntsm passing",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "No tumor rgid list (ntsm)"
            },
            "check tumor ntsm passing": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__check_ntsm_internal_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.tumorFastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException",
                    "States.TaskFailed"
                  ],
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "tumorNtsmInternalPassing": "{% $states.result.Payload.related  %}"
              }
            },
            "No tumor rgid list (ntsm)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Has tumor rgid list (ntsm ext)",
          "States": {
            "Has tumor rgid list (ntsm ext)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "check tumor-normal ntsm passing",
                  "Condition": "{% $tags.tumorFastqRgidList ? true : false %}"
                }
              ],
              "Default": "No tumor normal ntsm"
            },
            "check tumor-normal ntsm passing": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__check_ntsm_external_lambda_function_arn__}",
                "Payload": {
                  "fastqRgidList": "{% $tags.fastqRgidList %}",
                  "tumorFastqRgidList": "{% $tags.tumorFastqRgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException",
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "ntsmExternalPassing": "{% $states.result.Payload.related ? true : false %}"
              }
            },
            "No tumor normal ntsm": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        }
      ],
      "Assign": {
        "tags": "{% /* https://try.jsonata.org/05K2l3beH */\n/* List to merge together */\n[\n    /* Start with the tags */\n    $tags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Put DRAFT update event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $detail,\n  {\n    \"id\": null,\n    \"status\": \"${__draft_event_status__}\",\n    \"timestamp\": $states.context.State.EnteredTime,\n    \"libraries\": $librariesList,\n    \"payload\": (\n      $merge([\n        $payload,\n        {\n          \"refId\": null,\n          \"data\": ( \n            {\n              \"inputs\": ( $inputs ? $inputs : null ),\n              \"engineParameters\": ( $engineParameters ? $engineParameters : null ),\n              \"tags\": ( $tags ? $tags : null )\n            }\n            /* Remove null inputs like refId */\n            ~> $sift(function($v, $k){$v != null})\n          )\n        }\n      ])\n      /* Remove null inputs like refId */\n      ~> $sift(function($v, $k){$v != null})\n    )\n  }\n])\n/* Remove null inputs like id */\n~> $sift(function($v, $k){$v != null}) %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
