app/step-functions-templates/ready_event_to_icav2_wes_request_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save inputs",
  "States": {
    "Save inputs": {
      "Type": "Pass",
      "Next": "Convert Dragen WGTS DNA Ready Event to ICAv2 WES Event",
      "Assign": {
        "dragenWgtsDnaReadyEventDetail": "{% $states.input %}"
      }
    },
    "Convert Dragen WGTS DNA Ready Event to ICAv2 WES Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__dragen_wgts_dna_ready_to_icav2_wes_request_lambda_function_arn__}",
        "Payload": {
          "dragenWgtsDnaReadyEventDetail": "{% $dragenWgtsDnaReadyEventDetail %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Push WES Event",
      "Output": {
        "icav2WesRequestEventDetail": "{% $states.result.Payload.icav2WesRequestEventDetail %}"
      }
    },
    "Push WES Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $states.input.icav2WesRequestEventDetail %}",
            "DetailType": "${__icav2_wes_request_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
